<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>		
		<add key="LocalDBConnection" value="Data Source=#LocalDBLocation#;Version=3;FailIfMissing=True;Compress=True;"/>
		<add key="LocalDBLocation" value="#AssemblyLocation#\LocalDatabase\Pinnacle.db"/>
		<add key="ToolWorkReportPath" value="\Downloads\PinnacleDock"/>
		<add key="EmployeeId" value="02260"/>
		<add key="ToolId" value="562"/>
		<add key="BundleName" value="PiNavisworks.bundle"/>
		<add key="Login" value="141"/>
		<add key="ProjectInformation" value="142"/>
		<add key="ToolUsageValidation" value="143"/>
		<add key="RibbonToolId" value="144"/>
		<add key="UserInterfaeTitle" value="Pi Navisworks | PiVDC Tools"/>
		<add key="platformName" value="Revit"/>
		<add key="Software" value="NavisworkManage-2020"/>
		<add key="ReleaseVersion" value="3"/>
		<add key="ReleaseDate" value="15-Dec-2020"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
